*{
margin: 0;
padding: 0;
font-family: sans-serif;
}

body{
    background-color: #252529 ;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
}

h2{
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 3px;
    color: #f1f5f8;

}

#value{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 70px;
    color: #f1f5f8;
}

.btn{
    margin: 0 10px;
    padding: 3px 5px;
    background: none;
    color: #f1f5f8;
    text-transform: uppercase;
    border: 2px solid #f1f5f8;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.btn:hover{
    cursor: pointer;
    background-color: #f1f5f8;
    color: black;
}

@media screen and (max-width:500px){
    .card{
        width: 250px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .btn{
        margin: 10px 0;
    }
}